*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(118, 70, 8) ;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 100px;
}
nav{
    width: 100%;
    margin: 0 auto;
    padding:  0 20px;
}
nav ul{
    list-style: none;
    display:flex;
    justify-content: flex-end;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding:5px 10px ;
    display: block;
}
nav ul li a:hover {
    background-color: #555; 
    border-radius: 5px; }
    h1{
        margin: 50px;
        justify-content: left;
    }
    h1 {
        margin: 100px 20px 20px; /* Margin to push away from fixed header and add some space */
        font-size: 2.5rem;
        font-weight: bold;
        color: rgb(118, 70, 8);
        text-align: center;
    }
    section {
        padding: 20px;
        margin: 0 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    section p {
        line-height: 1.6;
        font-size: 1rem;
        color: #333;
    }
    aside {
        padding: 20px;
        margin: 0 20px;
        background-color: #f4f4f4;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    aside p {
        line-height: 1.6;
        font-size: 1rem;
        color: #333;
    }
    footer {
        background-color: rgb(118, 70, 8);
        color: #fff;
        padding: 20px 0;
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
    }
    .footercontainer {
        margin-bottom: 10px;
    }
    .socialicon {
        margin-bottom: 10px;
        text-align: center; /* Optional: center-aligns your icons */
    }
    
    .socialicon a {
        color: #ffffff;
        font-size: 1.5rem;
        margin: 0 10px;
        text-decoration: none;
        transition: color 0.3s ease-in-out; /* Smooth transition for hover effect */
    }
    
    .socialicon a:hover {
        color: #706363; /* Your hover color */
    }
    